extends layout

block content
    h1 Add A New Item in #{name} category.
    form(action=`${"/category/" + name + "/Add"}` method='POST')
      input(type='text' name='name' required)
      textarea(name='description' rows='4' cols='50' required) Add a description about this category.
      input(type='number' name='price' required)
      input(type='number' name='stock' required)
      button(type='submit') Submit