extends layout

block content
    h1 Add A New Category.
    form(action='/category/new' method='POST')
      input(type='text' name='name' required)
      textarea(name='description' rows='4' cols='50' required) Add a description about this category.
      button(type='submit') Submit